@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    color:   #73AF59;
    position: relative;
    background: #111111;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
  }

  a {
    color: #62974c;
    text-decoration: none;
  }
  
  a:hover {
    color: #f1f1f1;
    text-decoration: none;
  }
  

  /* Header */

  #header {
      position: relative;
      height: 100vh;
      display: flex;
      align-items: center;
      margin-left: 20%;
      z-index: 997;
      overflow-y: auto;
  }

  #header h1 span {
    color: #fff;
    border-bottom: 2px solid #73AF59;
    padding-bottom: 3px;
  }

  #header .socials {
    margin-top: 50px;
    display: flex;
  }
  
  #header .socials a {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    line-height: 1;
    margin-right: 15px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  
  #header .socials a:hover {
    background: #73AF59;
  }



  .navbar{
      padding: 0;
      margin-top: 35px;
  }

  .navbar ul{
      margin: 0;
      padding: 0;
      display: flex;
      list-style: none;
      align-items: center;
  }

  .navbar li {
      position: relative;
  }

  .navbar li + li {
      margin-left: 30px;
  }

  /*Sections*/

  section {
    overflow: hidden;
    position: absolute;
    width: 100%;
    top: 140px;
    bottom: 100%;
    opacity: 0;
    transition: ease-in-out 0.4s;
    z-index: 2;
  }
  
  section.section-show {
    top: 100px;
    bottom: auto;
    opacity: 1;
    padding-bottom: 45px;
  }
  
  section .container {
    background: rgba(0, 0, 0, 0.9);
    padding: 30px;
  }
  
  @media (max-width: 768px) {
    section {
      top: 120px;
    }
    section.section-show {
      top: 80px;
    }
  }
  
  .section-title h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 20px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
  }
  
  .section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #A90011;
    margin: 4px 10px;
  }
  
  .section-title p {
    margin: 0;
    margin: -15px 0 15px 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #fff;
  }

  /*About Me*/
  .about-me .content h3 {
    font-weight: 700;
    font-size: 26px;
    color: #FFFFFF;
  }
  
  .about-me .content ul {
    list-style: none;
    padding: 0;
  }
  
  .about-me .content ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  
  .about-me .content ul strong {
    margin-right: 10px;
  }
  
  .about-me .content ul i {
    font-size: 16px;
    margin-right: 5px;
    color: #D11D27;
    line-height: 0;
  }
  
  .about-me .content p:last-child {
    margin-bottom: 0;
  }

  